<h2>Matterhorn Services</h2>
<div>
  <ul class="unstyled">
    <% profile.to_h['service'].sort { |a,b| a['type'] <=> b['type'] }.each do |service| %>
      <%
        active = service['active'] ? '<span class="label label-success">active</span>' : '<span class="label label-important">inactive</span>'
        online = service['online'] ? '<span class="label label-success">online</span>' : '<span class="label label-important">offline</span>'
      %>
      <li><%=active.html_safe%> <%=online.html_safe%> <%=service['type']%></li>
    <% end %>
  </ul>
</div>

